.texme-body .code-line {
    background: transparent !important
}

.texme-body .code-src {
    background: transparent !important
}

.texme-body .code-src .line {
    display: inline !important;
    background: transparent !important;
    background-color: transparent !important
}

.texme-body .code-src span {
    background: transparent !important;
    background-color: transparent !important
}