.texme-body {
    font-size: 16px;
    line-height: 2.05
}

.texme-body p,
.texme-body li {
    line-height: 2.1
}

.texme-body mjx-container:not([display="true"]) {
    display: inline-block !important;
    vertical-align: -.12em !important;
    margin: 0 .04em !important;
    line-height: 1 !important;
    max-width: none !important;
    overflow: visible !important
}

.texme-body mjx-container[display="true"] {
    display: block !important;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    padding: .75rem 0;
    margin: 1.35rem 0
}

.texme-body code:not(pre code) {
    font-family: var(--mono);
    background: #2b2d30;
    border: 1px solid #393b40;
    border-radius: 6px;
    padding: .12em .42em;
    color: #bcbec4
}
